/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 4.9rem;

  /*========== Colors ==========*/
  /* Color mode HSL(hue, saturation, lightness) */
  --black-color: hsl(220, 24%, 12%);
  --black-color-light: hsl(220, 24%, 15%);
  --black-color-lighten: hsl(220, 20%, 18%);
  --white-color: #fff;
  --body-color: hsl(220, 100%, 97%);

  /*========== Font and typography ==========*/
  /* .5rem = 8px | 1rem = 16px ... */
  --body-font: "Montserrat", sans-serif;
  --normal-font-size: .938rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
/* .container { */
  /* max-width: 1120px; */
  /* background-color: rgba(21, 20, 35);
  opacity: .8;
} */

.topheader {
  background-color: #151423;
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: var(--z-fixed);
  display: flex;
  justify-content: center;
  align-items: center; /* Center vertically */
  background-color: rgba(21, 20, 35);
  opacity: .8;
}

/*=============== NAV ===============*/
.nav {
  width: 100%;
  height:100px;
  /* background-color: #151423; */
 display: grid;
 grid-template-columns: 20% 80%;
 justify-content: center;
 align-items: center;

}
/* .nav__link:active{
  color: rgba(17, 117, 255, 1);
} */
.nav__data {
  display: flex;
  align-items: center;
}

.logo-price-container {
  display: flex;
  align-items: center;
  gap: 20px; /* Adjust the gap as needed */
}

/* .nav__logo img {
  margin-top: 8px;
  width: 100%;
  margin-left: 10px;
} */
.nav__logo img {
  margin-top: 8px;
  width: 150px; /* Adjust the width as needed */
  height: 72px; /* Adjust the height as needed */
  margin-left: 10px;
}


.blocxL {
  color: rgba(17, 117, 255, 1);
  font-weight: var(--font-semi-bold);
  position: absolute;
  margin-left: 60px;
  font-size: 14px;
  margin-top: 8px;
}

.nav__toggle {
  margin-right: 10px;
  color: #fff;
}
.dark .nav__link {
  color: #151423;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1118px) {
  .nav{
    width: 100%;
    grid-template-columns: 1fr;
  }
  .nav__data{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .blocxL{
    margin-left: 70px;
  }
  .nav__logo img {
    width: 60%;
  }

  .nav__menu {
    position: absolute;
    right: 0;
    top: 2.7rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    transition: top .4s, opacity .3s;
  }
  .nav__menu::-webkit-scrollbar {
    width: 0;
  }
  .nav__list {
    background-color: #151423;
    padding-top: 1rem;
    margin-top: 2.8rem;
  }
  .dark .nav__list {
    background-color:rgb(233,233,233);
    padding-top: 1rem;
    margin-top: 2.8rem;
  }
}

.nav__link {
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color .3s;
  opacity: 1 !important;
}

/* Show menu */
.show-menu {
  opacity: 1;
  top: 3.5rem;
  pointer-events: initial;
}

/* Show icon */
.show-icon .nav__burger {
  opacity: 0;
  transform: rotate(90deg);
}

.show-icon .nav__close {
  opacity: 1;
  transform: rotate(90deg);
}

/* For large devices */
@media screen and (min-width: 1118px) {
  .nav {
    height: 90px;
   display: grid;
   grid-template-columns: 10% 90%;
   justify-content: center;
   margin: 0 80px;
  }
  .nav__toggle {
    display: none;
  }
  .nav__list {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
  }
  .nav__link {
    padding: 0;
  }
  .nav__logo img {
    margin-top: 8px;
    width: 120%;
  }
}


.search-container{
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 180px;
  border-radius: 20px;
}
.search-container h4{
  width: 40%;
  text-align: left;
  color: #fff;
  font-size: 20px;
  margin-bottom:6px;
  font-weight: bold;
}

.search-input-container {
  /* box-shadow: 0 0 4px #151423; */
  width: 40%;
  padding: 0 10px;
  display: flex;
  align-items: center;
  background: #1d1d29;
  border-radius: 10px;
}

/* Search icon styles */
.search-icon {
  font-size: 1.5rem; /* Adjust the size as needed */
  color: #ccc; /* Adjust the icon color */
  padding: 5px;
}



/* Search input */
.search-input {
  border: none;
  outline: none;
  width: 100%;
  background: #1d1d29;
  padding: 10px;
  border-radius: 8px;
  color: #fff;
}
@media screen and (max-width:800px) {
  .search-input-container,.search-container h4 {
    width: 60%;
  }

}
@media screen and (max-width:1024px) {
  .nav__logo{
    margin-top: 12px;
  }
  .blocxL{
    margin-top: 18px;
  }
  /* .nav__logo img{
   width: 60%;
  } */
}
@media screen and (max-width: 458px) {
  .blocxL{
    margin-left: 400px;
    /* margin-top: 12px; */
  }
  .search-input-container,.search-container h4 {
    width: 100%;
  }
  .search-input{
    height: 40px;
  }
  
}
.navBottom {
  display: flex;
  flex-direction: row;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  position: relative; /* Add this to make it the reference for absolute positioning */
}

.homeedgeTL {
  position: absolute;
  left: 0; /* Adjust this value as needed */
  top: 50px; 
}

.homeedgeTR {
  position: absolute;
  right: 0; /* Adjust this value as needed */
  top: 20px; 
}
@media screen and (max-width:770px) {

  .blocxL{
    margin-left: 80px;
  }

  .search-container{
    /* position: absolute; */
    /* width: 80%; */
  }
  .navBottom {
    justify-content: space-between;
    align-items: center;
  }

  .homeedgeTL {
    position: relative;
    width: 20%;
    height: 20%;
    left: 0; /* Adjust this value as needed */
    top: -0px; /* Adjust this value as needed */
  }

  .homeedgeTR {
    position: relative;
    width: 30%;
    height: 30%;
    right: 0; /* Adjust this value as needed */
    top: 0; /* Adjust this value as needed */
  }
  .grid-container {
    margin-top: -0px;
  }
  .search-container{
    
    margin-top: 40px;
  }
}
/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 620px) {
  .blocxL{
    margin-left: 80px;
  
  }
  /* .nav__logo img{
    width: 35%;
   } */
  .search-container{
    /* position: absolute; */
    /* width: 80%; */
  }
  .homeedgeTL{
    top: -60px;
    width: 40%;
  }

  
}
@media screen and (max-width: 520px) {

  .search-input-container,.search-container h4 {
    width: 60%;
    font-size: 20px;
  }
  .search-container{
    /* position: absolute; */
    /* width: 80%; */
  }
  
}
@media screen and (max-width: 440px) {
  .blocxL{
    margin-left: 70px;
    /* margin-top: 12px; */
  }

  /* .nav__logo img{
    width: 60%;
   } */
 
  .search-input-container,.search-container h4 {
   
    font-size: 16px;
  }
  /* .column-2 {
    margin-top: -400px;
  } */

 
}
@media screen and (max-width: 380px) {
  .blocxL{
    margin-left: 70px;
    /* margin-top: 12px; */
    font-size: 12px;
  }
  .navBottom{
    margin-top: 20px;
  }

}
@media screen and (max-width: 340px) {

  .blocxL{
    margin-left: 70px;
    font-size: 12px;
  }

  .nav__link {
    padding-inline: 1rem;
  }
}
.nav__link {
  color: #ffffff;
}

.active {
  color: rgba(17, 117, 255, 1);
  /* Add other styling properties as needed */
}

.dark .nav__link {
  color: #000000;
}

.dark .active {
  color: rgba(17, 117, 255, 1);
}